/* import for font styling */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* reusable color pallette */
:root {
  --bg-color: #000000;
  --second-bg-color: #121212;
  --text-color: #fff;
  --main-color: rgb(216, 45, 3);
}

/* text reset */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* background pallette and text styling */
body {
  background: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

/* Styling for scrollbar */
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* header styling and positioning */
.header {
  display: flex;
  position: relative;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0, 0, 0, 0.7);
  background-color: var(--second-bg-color);
  filter: drop-shadow(10px);
  justify-content: space-between;
  align-items: center;
}

/* logo "immorfalious" styling */
.logo {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 800;
  transition: 0.5s ease;
}

/* logo effects when hovered */
.logo:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 1px #fffcfca4, 0 0 15px var(--bg-color),
    0 0 25px var(--main-color);
}

/* navbar text styling */
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

/* navbar hover effect */
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* section adjuster for page spacing */
section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

/* positioning for image */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--bg-color);
}

/* styling for image */
.hero-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color), 0 0 15px var(--main-color),
    0 0 50px var(--main-color);
}

/* font adjustments for heading*/
.about h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

/* styling for font */
span {
  color: var(--main-color);
}

/* font adjustment for subheading */
.about h3 {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

/* font adjustments for about me description */
.about p {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 280px;
}

/* made relative for effects */
.type-text span {
  position: relative;
}

/* assign animation and initial content */
.type-text span::before {
  content: "Dedicated Leaner";
  color: var(--main-color);
  animation: words 20s infinite;
}

/* assign position and styling effects */
.type-text span::after {
  content: "";
  position: absolute;
  background-color: var(--bg-color);
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

/* added cursor styling */
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

/* keyframes used for effect timing */
@keyframes words {
  0%,
  20% {
    content: "Dedicated Learner";
  }
  21%,
  40% {
    content: "Web Design Fanatic";
  }
  41%,
  60% {
    content: "Self Starter";
  }
  61%,
  80% {
    content: "Problem Solver";
  }
  81%,
  100% {
    content: "Software Enthusiast";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* positioned for child elements hidden overflow for excess content */
main {
  min-height: 100vh;
  padding: 2rem 6rem 4rem 2rem;
  overflow: hidden;
  position: relative;
}

/* background color change */
.showcase {
  background: var(--second-bg-color);
}

/* font styling and positioning */
.main-header {
  text-align: center;
  font-size: 7rem;
  margin-left: 34vw;
}

/* created grid layout for showcase */
.showcase-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-left: 34vw;
}

/* assigned grid areas and added images/positioning */
.showcase-container:nth-child(1) {
  grid-area: mini-project;
  background-image: url(images/cssorange.jpg);
  background-size: 100vw;
}

.showcase-container:nth-child(2) {
  grid-area: html-refactor;
  background-image: url(images/orangeuse-1.jpg);
  background-size: 100vw;
}

.showcase-container:nth-child(3) {
  grid-area: comingsoon1;
  background-image: url(images/comingsoon.jpg);
  background-size: 100vw;
}

.showcase-container:nth-child(4) {
  grid-area: comingsoon2;
  background-image: url(images/comingsoon-2.jpg);
  background-size: 100vw;
}

.showcase-container:nth-child(5) {
  grid-area: comingsoon3;
  background-image: url(images/comingsoon.jpg);
  background-size: 100vw;
}

/* added zoom effect on hover */
.showcase-container:nth-child(-n + 5):hover {
  background-size: 60vh;
}

/* change position type for children element, added styling and blocked image overflow */
.showcase-container {
  position: relative;
  margin-top: 30px;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

/* added outline and transition timer for styling height change for section positioning*/
.showcase-container {
  outline: 3px solid var(--bg-color);
  min-height: 25vh;
  transition: all 0.5s ease;
}

/* hover effect around border */
.showcase-container:hover {
  box-shadow: inset 0px 0px 10px var(--main-color), 0 0 15px var(--main-color),
    0 0 30px var(--main-color);
}

/* created box and positioned for showcase text */
.showcase-content {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(219, 51, 0, 0.644);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 50%;
  right: 0;
  text-align: center;
}

/* font styling and positioning for header */
.showcase-content a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  padding-top: 5px;
  padding-right: 10px;
  text-shadow: 1px 1px 2.5px #ffffff;
}

/* ensuring style is kept after link is clicked */
.showcase-content a:visited {
  text-decoration: none;
  color: var(--main-color);
}

/* Added hover effect */
.showcase-content a:hover {
  text-decoration: none;
  color: #790000;
  border-bottom: 3px solid #790000;
}

/* font styling and positioning for sub header */
.sub-header {
  font-size: 1.6rem;
  text-align: center;
  color: var(--main-color);
  text-shadow: 2.5px 2px 1px #000000;
  padding: 5px 0px;
}

/* font styling and positioning for description */
.showcase-content p {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  text-shadow: 2.5px 2px 1px #000000;
}

/* grid adjustments for mobile layout */
@media only screen and (min-width: 992px) {
  .showcase-grid {
    grid-template-areas:
      "mini-project mini-project"
      "html-refactor comingsoon1"
      "comingsoon2 comingsoon3";
  }
}

@media only screen and (max-width: 992px) {
  .showcase-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "mini-project"
      "html-refactor"
      "comingsoon1"
      "comingsoon2"
      "comingsoon3";
  }
}

/* height adjustment */
.timeline section {
  min-height: auto;
}

/* positioned to parent and styling for border */
.education {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 45vw;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 1) 100%
  );
  border: 20px solid rgb(168, 28, 10);
  margin-bottom: 1rem;
  margin-right: 65%;
}

/* Set timeline header properties */
.timeline-header {
  font-size: 6rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: rgba(148, 44, 13, 0.7);
  top: 13%;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 2;
}

/* positioning for seperate boxes */
.time-container {
  padding: 10px 40px 10px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* added icon from linked source, adjusted style and position */
.time-container::after {
  content: "\f501";
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  right: -17px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  top: 15px;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  font-family: "Font Awesome\ 5 Free";
  color: rgb(119, 1, 1);
}

/* positioning for left sided boxes */
.left {
  left: 0;
}

/* position for last left box */
.left:last-child {
  left: 0;
  bottom: 0;
  position: absolute;
}

/* positioning for right sided box */
.right {
  padding: 10px 20px 10px 40px;
  position: absolute;
  left: 50%;
  bottom: 40%;
}

/* added indentation towards icon */
.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
}

.right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--main-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--main-color) transparent transparent;
}

/* Icon positioning */
.right::after {
  left: -16px;
}

/* added box styling */
.timeline-content {
  background: var(--main-color);
  position: relative;
  border-radius: 6px;
}

/* font styling */
.timeline-subheader {
  padding: 5px;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
}

.timeline-subheader a {
  color: #c4c4c4;
}
/* ensuring style is kept after link is clicked */
.timeline-subheader a:visited {
  text-decoration: none;
  color: #c4c4c4;
}

/* Added hover effect */
.timeline-subheader a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 3px solid var(--bg-color);
}

/* Font styling */
.timeline-desc p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #c4c4c4;
  text-shadow: 1px 1px 8px #070000;
  text-align: center;
  line-height: 1.5;
  padding: 2px 0;
}

/* added border to divide education text */
.timeline-desc {
  border-top: 2px dashed #000000;
}

/* adjusments for desktops */
@media only screen and (max-width: 1250px) {
  .hero {
    gap: 2rem;
  }
  .education .right {
    bottom: 30%;
  }
  .showcase-content {
    left: 40%;
  }
}

@media only screen and (max-width: 1150px) {
  .hero .about h3 {
    font-size: 3rem;
  }
  .hero .about h1 {
    font-size: 5rem;
  }
  .showcase-content {
    left: 20%;
  }
  .showcase-content p {
    line-height: 1.3;
  }
  .timeline-header {
    font-size: 5rem;
  }
  .showcase-grid {
    margin-left: 45vw;
  }
  .main-header {
    margin-left: 45vw;
  }
  .education {
    margin-right: 55%;
    max-width: 44vw;
  }
  main {
    padding-right: 3rem;
  }
}

/* adjustments for tablet M */
@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    margin: 0rem 2rem;
  }
  .hero .about h3 {
    font-size: 2.5rem;
  }
  .hero .hero-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .showcase-content a {
    font-size: 1.7rem;
  }
  .sub-header {
    font-size: 1.5rem;
    padding: 4px 0px;
  }
  .education .timeline::after {
    top: 7%;
  }
  .showcase-content p {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  .timeline-header {
    font-size: 4rem;
  }
  main {
    padding: 1rem 1rem 1rem;
  }
}

/* adjustments for tablet S */
@media only screen and (max-width: 780px) {
  .navbar a {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .timeline-header {
    font-size: 3rem;
  }
  .timeline-subheader {
    font-size: 1.7rem;
  }
  .main-header {
    font-size: 5rem;
    margin-left: 50vw;
  }
  .showcase-grid {
    margin-left: 50vw;
  }
  .education {
    max-width: 49vw;
    margin-right: 50%;
  }
}
/* redefining footer section height */
footer section {
  min-height: auto;
}

/* positioning */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

/* font styling */
footer h1 {
  font-size: 4rem;
  color: var(--main-color);
  text-shadow: 1px 1px 2px #fff;
  font-weight: 600;
  max-width: fit-content;
}

/* icon positioning */
.social {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* icon styling */
.social a {
  color: var(--main-color);
  transition: 0.5s ease-in-out;
}

/* icon hover effect */
.social a:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 1px #fffcfca4, 0 0 15px var(--bg-color),
    0 0 25px var(--main-color);
}

/* adjustments for mobile L */
@media only screen and (max-width: 425px) {
  section {
    min-height: auto;
  }
  .hero {
    margin: 0;
    padding: 2rem;
    justify-content: space-evenly;
  }
  .header {
    padding: 3rem 5%;
    flex-direction: column;
  }
  .navbar {
    padding-top: 1rem;
  }
  .navbar a {
    font-size: 1.35rem;
  }
  .hero .about h1 {
    font-size: 4rem;
  }
  .hero .about h3 {
    font-size: 2.2rem;
  }
  .about p {
    font-size: 1.4rem;
    text-align: center;
  }
  .main-header {
    font-size: 4rem;
    margin-left: 0;
  }
  .showcase-grid {
    margin-left: 0;
  }
  .showcase-container {
    margin-top: 0;
  }
  .education {
    max-width: 100vw;
    margin-right: 0;
    position: relative;
    min-height: 100vh;
    margin-top: 2rem;
  }
  .social {
    font-size: 1.8rem;
  }
  section.social {
    padding: 2rem 3% 2rem;
  }
  .left::before {
    right: 31px;
  }
}

/*  adjustments for mobile M */
@media only screen and (max-width: 375px) {
  .hero .about h1 {
    font-size: 3rem;
  }
  .hero .about h3 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .timeline-subheader {
    font-size: 1.5rem;
  }
  .header {
    padding: 2rem 3%;
  }
  .navbar a {
    font-size: 1.2rem;
    margin: 4px;
  }
}
